.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {

  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h2 {
  color: #333; 
}

.form-group {
  margin-bottom: 16px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #4caf50; /* Green text color */
}

input,
select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #b0b0b0; /* Light gray for disabled state */
  cursor: not-allowed;
}

button:hover:enabled {
  background-color: #45a049;
}

.signIn {
  color: white;
  background-color: rgba(104, 85, 224, 1);
}

.error-message {
  color: #ff0000;
  margin-top: 10px;
}

.sucess-message {
  color: #09ff00;
  margin-top: 10px;
}